<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=first_name%>
            <%=last_name%>
    </title>

    <style>
        .container {
            text-align: center;
            border: 1px solid black;
            padding: 10px;
            margin: '10px auto';
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            width: max-content;
        }

        img {
            border-radius: 50%;
        }

        span {
            padding: 2px 5px;
            color: goldenrod;
            border: 1px solid goldenrod;
            border-radius: 10px;
            font-weight: 500;
        }

        li{
            list-style-type: none;
            padding: 5px;
            margin: 2px;
            /* border: 1px solid black; */
            text-align: start;
        }
    </style>

</head>

<body>
    <div class="container">
        <h1> <%=first_name%> <%=last_name%> </h1>
        <img src="<%=avatar%>" alt="user img">
        <p><%=email%></p>
    </div>

</body>

</html>